<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">

    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>this site I made on 23 of december of 2019, Its very iteresting</p>

    </div>

    {{>footer}}
</body>

</html>